@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .fixmobilevh {
    height: -webkit-fill-available;
  }
}

@supports not (-webkit-touch-callout: none) {
  .fixmobilevh {
    height: 100vh;
  }
}

.margin-0-auto {
  margin: 0 auto;
}